:root {
    --px-2: 0.267vw;
    --px-4: 0.533vw;
    --px-6: 0.800vw;
    --px-8: 1.067vw;
    --px-10: 1.333vw;
    --px-12: 1.600vw;
    --px-14: 1.867vw;
    --px-16: 2.133vw;
    --px-18: 2.400vw;
    --px-20: 2.667vw;
    --px-22: 2.933vw;
    --px-24: 3.200vw;
    --px-26: 3.467vw;
    --px-28: 3.733vw;
    --px-30: 4.000vw;
    --px-32: 4.267vw;
    --px-34: 4.533vw;
    --px-36: 4.800vw;
    --px-38: 5.067vw;
    --px-40: 5.333vw;
    --px-42: 5.600vw;
    --px-44: 5.867vw;
    --px-46: 6.133vw;
    --px-48: 6.400vw;
}